
    .imageanimation {
        font-family: Arial;
        font-size: 15px;
        color: #202020;
        padding: 25px;
    }

    .imageanimation p {
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 25px;
        font-family: Verdana, Geneva, sans-serif;
    }

    .imageanimation ul li {
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 25px;
        font-family: Verdana, Geneva, sans-serif;
        list-style-type: circle;
    }

    .imageanimation p:last-child {
        padding-bottom: 0;
    }

    .imageanimation a {
        color: #06c;
        font-size: 15px;
    }

    .imageanimation figure {
        background: none;
        border: 0;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .imageanimation figure img {
        max-width: 100% !important;
        height: auto !important;
    }

    .uni-title {
        font-family: arial;
        font-size: 28px;
        margin-bottom: 5px;
    }

    .imageanimation .sub-title {
        font-size: 20px;
        margin: 0 0 15px 0;
    }

    .imageanimation .item {
        display: inline-block;
        margin: 25px 0;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .imageanimation .item.left figure {
        float: left;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    .imageanimation .item.right figure {
        float: right;
        margin-left: 40px;
        margin-bottom: 25px;
    }
    
    
         .content-animation {
     -webkit-animation: imganimation 10s ease-in-out 0s
     -moz-animation: imganimation 10s ease-in-out 0s infinite;
     	animation: imganimation 10s ease-in-out 0s infinite;
    }
  
@-webkit-keyframes imganimation {
   0% { -webkit-transform: rotate(0); }
	5% { -webkit-transform: rotate(10deg); }
	10% { -webkit-transform: rotate(-9deg); }
	15% { -webkit-transform: rotate(8deg); }
	20% { -webkit-transform: rotate(-7deg); }
	25% { -webkit-transform: rotate(6deg); }
	30% { -webkit-transform: rotate(-5deg); }
	35% { -webkit-transform: rotate(4deg); }
	40% { -webkit-transform: rotate(-3deg); }
	45% { -webkit-transform: rotate(2deg); }
	50% { -webkit-transform: rotate(0); } 
	100% { -webkit-transform: rotate(0); }
}

